# MongoDB Connection String (Atlas Free Tier)
MONGODB_STRING=mongodb+srv://...

# OpenWeatherMap API Key (for historical weather data)
OWM_API_KEY=your_owm_api_key

# Secret for Cron Job Authentication
CRON_SECRET=your_random_cron_secret

# For local development of frontend
VITE_SERVER_URL=http://localhost:3000
